.configure-box__content {
    margin: 0 auto;
    margin-top: 60px;
    width: 800px;
}

@media screen and (max-width: 820px) {
    .configure-box__content {
        width: 435px;
    }

    .content__title {
        padding-top: 50px;
    }
    .content__pre-title {
        padding-left: 30px;
        font-size: 13pt;
        margin-bottom: -30px;
    }

    .form-reg__block-one {
        margin-left: 30px;
    }

    .form-req__block-two {
        width:300px;
        margin-left: 60px;
        margin-top: 30px;
    }

    .send-adr__pre-title {
        font-size: 13pt;
        padding-left: 30px;
    }

    .dop-adr-text {
        height: 95px;
        width: 360px;
        margin: 0 auto;
    }


    .dop-adr-title {
        padding-left: 30px;
        font-size: 13pt;

    }

    .add-contact-adr {
        padding-left: 30px;
    }

    .user_adr {
        display: none;
    }

    .big-input {
        display: none;
    }

    .new-user_adr-box {
        width: 360px;
        height: 70px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .new-user_adr {
        width: 350px;
        height: 60px;
        padding-left: 10px;
        padding-top: 10px;
    }
    .save {
        display: block;
        margin: 0 auto;
        width: 370px;
        border-radius: 5px;
    }

    .save_btn {
        display:  none;
    }

    .mob-btn {
        display: block;
        width: 370px;
        height: 50px;
        outline: none;
        border: none;
        background: #159a15;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

    .social__pre-title {
        padding-left: 30px;
        font-size: 13pt;
    }

    .vk {
        margin-left: 30px;
    }
}


@media screen and (max-width: 420px) {
    .configure-box__content {
        width: 350px;
    }
}


.content__title {
    font-family: Circe-Bold;
    font-size: 30pt;
    text-align: center;
}

.content__pre-title {
    font-family: Circe-Bold;
    font-size: 18pt;
    margin-top: 50px;
}

.content__form-reg {
    margin-top: 50px;
}

.form-reg__block-one {
    display: inline-block;
    width: 370px;
    vertical-align: top;
}


.form-reg__block-two {
    display: inline-block;
    width: 370px;
    margin-left:30px;
    vertical-align: top;
}

.input {
    width: 360px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid #cecece;
    font-family: Circe-Regular;
    font-size: 14pt;
}

@media screen and (max-width: 420px) {
    .input {
        width: 270px;
    }

    .mob-btn {
        width: 280px;
        margin-left: 30px;
    }

}

@media screen and (max-width: 320px) {
    .configure-box__content {
        width: 300px;
    }

    .content__pre-title {
        padding-left: 10px;
    }

    .input {
        margin-left: -20px;
    }

    .send-adr__pre-title {
        padding-left: 10px;
    }

    .new-big-input {
        margin-left: -20px;
    }



}

.mini-input {
    width: 155px;
}

.input-pad-left {
    margin-left: 30px;
}


@media screen and (max-width: 420px) {
    .mini-input {
        width: 105px;
    }
}




.save {
    height: 50px;
    margin-top: 50px;
}

.save_btn {
    width: 145px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-family: Circe-Regular;
    font-size: 12pt;
    background: #159a15;
}

.mob-btn {
    display: block;
}

@media screen and (min-width: 820px) {
    .mob-btn {
        display: none;
    }

    .new-user_adr-box {
        display: none;
    }

    .new-big-input {
        display: none;
    }
}



.send-adr {
    margin-top: 70px;
}

.send-adr__pre-title {
    font-family: Circe-Bold;
    font-size: 18pt;
}

.user_adr {
    width: 770px;
    margin-top: 25px;
}

.new-user_adr-box {
    .configure-box__content
}

@media screen and (max-width: 420px) {
    .new-user_adr-box {
        width: 270px;
        margin-left: 30px;
    }

    .new-user_adr-box textarea{
        width: 260px;
    }

    .new-user_adr-box {
        margin-left: 10px;
    }

    .mob-btn {
        margin-left: 10px;
    }
}

.new-user_adr {
    border: 1px solid #cecece;
    border-radius: 5px;
}

.dop-adr {
    margin-top: 20px;
}

.dop-adr-content {
    margin-top: 30px;
}

.dop-adr-title {
    font-family: Circe-Bold;
    font-size: 16pt;
    height: 10px;

}

.dop-adr-text {
    margin-top: 30px;
}

.big-input {
    margin-top: 0;
    height: 95px;
    width: 770px;
    padding-top: 10px;
}

.new-big-input {
    height: 85px;
    width: 350px;
    border-radius: 5px;
    padding-top: 10px;
    padding-left:10px;
    border: 1px solid #cecece;
}

@media screen and (max-width: 420px) {
    .dop-adr-text {
        width: 260px;
        margin-left: 30px;
    }

    .dop-adr-text textarea {
        width: 255px;
    }
}

@media screen and (max-width: 416px) {
    .mob-btn {
        margin-left: 30px;
    }

    .new-user_adr-box textarea {
        margin-left: 20px;
    }
}

.fb{
    margin-left:30px;
}

@media screen and (max-width:360px) {
    .mob-btn {
        margin-left: 30px;
    }

    .new-user_adr-box textarea {
        margin-left: 20px;
    }

    .dop-adr-text textarea {
        width: 270px;
    }
}

@media screen and (max-width: 320px) {
    .mini-input {
        width: 115px;
    }

    .input-pad-left {
        width: 112px;
        margin-left: 25px;
    }

    .new-user_adr-box textarea {
        width: 270px;
        margin-left: 0px;
    }

    .dop-adr-text textarea {
        width: 270px;
    }

    .vk {
        margin-left: 10px;
    }

    .fb {
        margin-left: 10px;
    }

    .dop-adr-title {
        padding-left: 10px;
    }

    .social__pre-title {
        padding-left: 10px;
    }

    .mob-btn {
        margin-left: 10px;
    }

}


.add {
    margin-top: 13px;
    height: 30px;
}

.add a {
    text-decoration: none;
    font-family: Circe-Regular;
    font-size: 12pt;
    color: #60b160;
    border-bottom: 1px dashed;
}

.social {
    margin-top: 35px;
    margin-bottom: 60px;
}


.social__pre-title {
    font-family: Circe-Bold;
    font-size: 16pt;
    height: 40px;
}

.webs {
    margin-top: 5px;
}



.vk {

}





